<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <form th:action="@{/salvarEmpleado}" method="post" th:object="${empleado}">
            
            <label for="departamento">Seleccione el departamento:</label>
            <select id="departamento" name="departamento" th:field="*{departamento}">
                <option th:each="departamento : ${departamentos}" th:value="${departamento.id_departamento}" th:text="${#strings.capitalize(departamento.nombre)}" ></option>
            </select>
            
            <br>
            
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" th:field="*{nombre}"/>
            
            <br>
            
            <label for="edad">Edad</label>
            <input type="number" name="edad" id="edad" th:field="*{edad}"/>
            
            <br>
            
            <label for="telefono">Telefono</label>
            <input type="number" name="telefono" id="telefono" th:field="*{telefono}"/>
            
            <br>
            
            <input type="submit" name="salvarEmpleado" value="Salvar" />
        </form>            
        
        <a th:href="@{/volver}">Volver al menu</a>
        
    </body>
</html>
